<!--// top menu-->
<div class="grid-container">
  <div class="top-toolbar">
    <app-top-toolbar></app-top-toolbar>
  </div>

  <!--// Меню популярные категории-->
  <div class="categories-menu my-1">
    <app-categories-menu></app-categories-menu>
  </div>

  <!--// filters-->
  <div class="filters bg-secondary mr-1">
    <app-filters></app-filters>
  </div>

  <!--// catalog-->
  <div class="catalog bg-info">
    <app-catalog></app-catalog>
  </div>


  <!--// footer-->
  <div class="bottom-toolbar bg-light mt-1">
    <app-footer></app-footer>
  </div>
</div>

<router-outlet></router-outlet>



