<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="container-fluid">
      <div class="row">
        <div class="col-4 text-left">
          logo
        </div>
        <div class="col-4 text-center">
          Поиск
        </div>
        <div class="col-4 text-right">
          <mat-icon>add_shopping_cart</mat-icon>
        </div>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <mat-toolbar class="mt-3">
        <mat-toolbar-row>
          <div class="container-fluid">
            <div class="row">
              <div class="col-2 border-right">
                <mat-icon class="mr-3">phone</mat-icon>
                Phones
              </div>
              <div class="col-2 border-right">
                <mat-icon class="mr-3">computer</mat-icon>
                Computers
              </div>
              <div class="col-2 border-right">
                <mat-icon class="mr-3">print</mat-icon>
                Printers
              </div>
              <div class="col-2 border-right">
                <mat-icon class="mr-3">print</mat-icon>
                Printers
              </div>
              <div class="col-2 border-right">
                <mat-icon class="mr-3">print</mat-icon>
                Printers
              </div>
              <div class="col-2">
                <mat-icon class="mr-3">print</mat-icon>
                Printers
              </div>
            </div>
          </div>
        </mat-toolbar-row>
      </mat-toolbar>
    </div>
    <div class="col-8">
      <mat-card class="mt-3">
          Карточка акции
        <ul>
          <li>1</li>
          <li>1</li>
          <li>1</li>
          <li>1</li>
          <li>1</li>
          <li>1</li>
        </ul>
      </mat-card>
    </div>
    <div class="col-4">
      <mat-card class="mt-3">
         КарточкаТовар дня
        <ul>
          <li>1</li>
          <li>1</li>
          <li>1</li>
          <li>1</li>
          <li>1</li>
          <li>1</li>
        </ul>
      </mat-card>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12 mb-2"><h4>Рекомендуем Вам</h4></div>

    <div class="col-3"><mat-card>
      Карточка товара
    </mat-card></div>
    <div class="col-3"><mat-card></mat-card></div>
    <div class="col-3"><mat-card></mat-card></div>
    <div class="col-3"><mat-card></mat-card></div>
  </div>
  <div class="row mt-3">
    <div class="col-12 mb-2"><h4>Выбор покупателей</h4></div>

    <div class="col-3"><mat-card></mat-card></div>
    <div class="col-3"><mat-card></mat-card></div>
    <div class="col-3"><mat-card></mat-card></div>
    <div class="col-3"><mat-card></mat-card></div>
  </div>
  <mat-toolbar class="fixed-bottom" color="primary">
    <mat-toolbar-row class="text-center">
      <div class="container">
        <div class="row">
          <div class="col-4">Помощь покупателю</div>
          <div class="col-4">Информация</div>
          <div class="col-4">Компания</div>
        </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>


