<div class="m-4">
  <h6>Категория</h6>
<mat-list>
  <mat-list-item>
    <mat-checkbox>Samsung</mat-checkbox>
  </mat-list-item>
  <mat-list-item>
    <mat-checkbox>Apple</mat-checkbox>
  </mat-list-item>
  <mat-list-item>
    <mat-checkbox>Honor</mat-checkbox>
  </mat-list-item>
  <mat-list-item>
    <mat-checkbox>Meizu</mat-checkbox>
  </mat-list-item>
</mat-list>
  <mat-divider></mat-divider>
  <h6 class="mt-3">Рейтинг</h6>
  <mat-list>
    <mat-list-item>
      <mat-checkbox>Samsung</mat-checkbox>
    </mat-list-item>
    <mat-list-item>
      <mat-checkbox>Apple</mat-checkbox>
    </mat-list-item>
    <mat-list-item>
      <mat-checkbox>Honor</mat-checkbox>
    </mat-list-item>
    <mat-list-item>
      <mat-checkbox>Meizu</mat-checkbox>
    </mat-list-item>
  </mat-list>
</div>
<mat-divider></mat-divider>
<div class="m-2">
  <h6 class="mt-3">Цена</h6>
  <mat-form-field class="w-50">
    <input  matInput placeholder="от">
  </mat-form-field>
  <mat-form-field class="w-50">
    <input  matInput placeholder="до">
  </mat-form-field>
  <button mat-raised-button class="w-100">Применить</button>
</div>

