<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="container-fluid">
      <div class="row">
        <div class="col-4 text-left">
          logo
        </div>
        <div class="col-4 text-center">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Поиск" [(ngModel)]="searchString">
            <div class="input-group-append"  >
              <button class="btn btn-outline-secondary" (click)="search()">Начать</button>
            </div>
          </div>
        </div>
        <div class="col-4 text-right">
          <button routerLink="/cart" class="btn btn-outline-light"> <mat-icon >add_shopping_cart</mat-icon>
            <span class="badge badge-info">{{productCount|async}}</span></button>
        </div>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
