<h4>Регистрация</h4>
<form [formGroup]="form" (ngSubmit)="register()" class="flex-container mt-5">
  <mat-form-field>
    <input matInput placeholder="Адрес почты" formControlName="email" type="email">
    <mat-error>Укажите email</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Пароль" formControlName="password" type="password">
    <mat-error>Укажите пароль</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Подтверждение" formControlName="confirm" type="password">
    <mat-error>Пароли не совпадают</mat-error>
  </mat-form-field>
  <div *ngIf="registerErrors" class="text-center">
    <mat-error *ngFor="let err of registerErrors">{{err}}</mat-error>
  </div>
  <div class="d-flex">
    <button class="mr-auto"  color="primary" mat-raised-button [disabled]="form.invalid">Регистрация</button>
  </div>
</form>

