<mat-toolbar >
  <mat-toolbar-row>
    <div class="container-fluid">
      <div class="row">
        <div class="col-2 border-right">
          <mat-icon class="mr-3">phone</mat-icon>
          Phones
        </div>
        <div class="col-2 border-right">
          <mat-icon class="mr-3">computer</mat-icon>
          Computers
        </div>
        <div class="col-2 border-right">
          <mat-icon class="mr-3">print</mat-icon>
          Printers
        </div>
        <div class="col-2 border-right">
          <mat-icon class="mr-3">print</mat-icon>
          Printers
        </div>
        <div class="col-2 border-right my-pointer" routerLink="/catalog">
          <mat-icon class="mr-3">print</mat-icon>
          Catalog
        </div>
        <div class="col-2 my-pointer" routerLink="/test">
          <mat-icon class="mr-3">print</mat-icon>
          TestPage
        </div>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
